<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NetOpsWebShell</title>
    <link rel="icon" href="/static/favicon.ico"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <!-- xterm v4 版本后去掉了 zmodem 插件，只能直接使用 zmodem.js 实现，但是不知道什么原因，登陆 webssh 后，第一次输出命令
    回车后会卡顿一下才出数据，v3.14.5 就不会卡顿，v3.14.5还可以也可以直接使用 zmodem.js，所以这里使用 v3.14.5，终端功能方面
    v3 和 v4 我没发现有什么多大的差别
    -->
    <!--link rel="stylesheet" href="/static/xterm/4.4.0/xterm.css"/-->
    <link rel="stylesheet" href="/static/xterm/3.14.5/xterm.min.css"/>
    <style>
        .input-width {
            width: 20%;
            display: inline-block;
        }

        .hide {
            display: none;
        }
    </style>

    <script>
        function checkwindow() {
            event.returnValue = false;
        }
    </script>

</head>
<!--body onbeforeunload="checkwindow()"-->
<body>

<div style="margin-top: 10px" id="form">
    <form class="layui-form">
        {% csrf_token %}
        <div class="layui-fluid">
            <div class="layui-card" style="width: 550px;">
                <div class="layui-card-body" style="padding: 15px;">
                    <div class="layui-form-item">
                        <label class="layui-form-label">主机地址:</label>
                        <div class="layui-input-block">
                            <input type="text" name="host" lay-verify="host" autocomplete="off"
                                   placeholder="请输入设备IP" class="layui-input" value="10.32.1.1" id="host">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">端口:</label>
                        <div class="layui-input-block">
                            <input type="number" name="port" lay-verify="port" placeholder="请输入端口"
                                   autocomplete="off" class="layui-input" value="22" id="port">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名:</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" lay-verify="required" placeholder="请输入"
                                   autocomplete="off" class="layui-input" value="admin" id="user">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">认证类型:</label>
                        <div class="layui-input-block">
                            <input type="radio" name="auth" id="inlineRadio1" value="pwd" title="密码认证"
                                   checked="checked">
                            <input type="radio" name="auth" id="inlineRadio2" value="key" title="秘钥认证">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码:</label>
                        <div class="layui-input-block">
                            <input type="text" name="password" placeholder="密码为空,则使用默认密码" autocomplete="off"
                                   class="layui-input" value="password123456" id="password">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">秘钥文件:</label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="upload-key" id="pkey"><i
                                    class="layui-icon"></i>上传文件
                            </button>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">注意:</label>
                        <div class="layui-input-block">
                        <span id="helpBlock" class="help-block">
                             <p style="color: red">1、当认证类型为密码认证时, 如果密码为空, 则使用默认密码, 秘钥输入框的内容将被忽略</p>
                             <p style="color: red">2、当认证类型为秘钥认证时, 如果密码输入框不为空, 则密码输入框的内容将作为秘钥的解密密码</p>
                         </span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-normal"
                                    type="button" onclick="websocket()">登 录
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="django-webssh-terminal" class="hide">
    <div id="terminal"></div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/bootbox/5.4.0/bootbox.min.js"></script>
<script>
    layui.use(['form',], function () {
        var $ = layui.$,
            form = layui.form;

    });
</script>

<script src="/static/jquery/3.4.1/jquery.min.js"></script>

<!--script src="/static/xterm/4.4.0/xterm.min.js"></script-->
<script src="/static/xterm/3.14.5/xterm.min.js"></script>
<script src="/static/zmodem/zmodem.devel.js"></script>
<script src="/static/webssh.js"></script>

</body>
</html>